form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  border: 1px solid #493548;
  border-radius: 5px;
  padding: 1%;
}

label {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  flex-wrap: wrap;
  text-align: center;
  margin: 2px;
}

input,
select {
  width: 70%;
  min-height: 25px;
  border-radius: 5px;
  border: 1px solid #493548;
  padding: 2px;
}
textarea {
  width: 60%;
  border-radius: 5px;
  border: 1px solid #493548;
  padding: 2px;
}

span {
  font-size: 10px;
  color: red;
}

.ButtonsForm {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin-top: 5%;
}
